body{
    background-color: rgb(158, 158, 158);
}
.pic1, .pic2, .pic3, .pic4,.pic5,.pic6,.pic7{
       margin-top: 30px;
     margin-bottom: 30px;
     margin-left: auto;
     margin-right: auto;
     
}
.pic1{
    width: 570px;
    height:296px;
    background-color: black;
}
.pic2{
    width: 201px;
    height: 745px;
}
.comb{line-height: 30px;
    text-decoration: underline;

}
.pic3{
    font-size: 30px;
    background-color: rgb(126, 30, 30);
    width: 438px;
    height: 302px;
    line-height: 20px;
    border:20px solid rgb(75, 0, 0);


}
.emoji{
    width:320px;
    height: 135px;
    padding: 61px;

}
.pic4{
    font-size: 30px;
    line-height: 15px;
    width: 421px;
    height: 334px;
}
.lastline{
    line-height: 0px;
    padding-top: 0px;
}
.pic5{
    display: flex;
    height: 100px;
    width: 270px;
}
.whitebox{
width: 160px;
height: 80px;
background-color: #fff;
border: 2px solid lightgray;
display: flex;
}
.graybox{
height: 80px;
width:50px; 
display: flex;
background-color: lightgray;
border: 2px solid lightgray;
}
.caption{
    display: block;
    margin: 0, auto;
}
.heading{
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 17%;
    font-family:'gill Sans';
}
.logo{
    margin-top: 18px;
    margin-bottom: 0px;
    text-indent: 17%;
     font-family: 'gill Sans';
     font-size: 16px;
     font-weight: 600;
}
.pic6{
    width: 323px;
    height: 388px;
}
.card{
border: 26px solid #cccccc;
background: rgb(0, 0, 0);
width: 200px;
height: 315px;
border-radius: 35px;
   position: absolute;
}
.redcircle{
     width: 300px;
    height: 169px;
    background-color: rgb(197, 0, 0);
    border-radius: 145px/89px;
    position: absolute;
    text-align: center;
    line-height: 169px;
    font-family: 'Courier New';
    color: yellow;
    font-size: 70px;
    text-shadow: -5px 5px 10px rgb(0 0 0);
    transform: rotate(-55deg);
    position: absolute;
    margin-left: -24px;
    margin-top: 102px;
}
.pic7{
   width: 200px;
   height: 200px;
}
.bluebox{
     width: 200px;
    height: 200px;
    background-color: rgb(33, 184, 230);
    position:absolute;

}
.whitecircle{ 
    background-color: rgb(255, 255, 255);
    width: 175px;
    height: 175px;
    margin: 12px 0 0 12px;
    border-radius: 50%;
    position:absolute;
}
.bluecircle{ 
    background-color: rgb(33, 184, 230);
    width: 120px;
    height: 120px;
    margin: 39px 0 0 39px;
    border-radius: 50%;
    position: absolute;
}
.play{
    text-align: center;
    line-height: 120px;
    font-size:25px;
}
.plus{
    text-align: center;
      font-size:25px;
}
.minus{
    text-align: center;
      font-size:25px;
      margin-top:112px;
}

.left {
    font-size:25px;
    position:absolute;
    margin-top: -107px;
    margin-left: 1px;
}
.right {
    font-size:25px;
    position:absolute;
    margin-top: -107px;
    margin-left: 148px;
}
img{
    width: 250px;
    height: 250px;
   text-align: center;
}
.image{
    margin-left: auto;
       margin-right: auto;
    width: 250px;
    height: 250px;
}
