    @import url("https://use.typekit.net/tau3toe.css");
@font-face {
    font-family: 'Bagnard';
    src: url('font/Bagnard.woff2') format('woff2'),
        url('font/Bagnard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


 /* title */
 body{
   padding-top: 0;
      margin-top: 0;
 }
 #boxforbar{
   position: fixed;
   right: 10px;
   /* top: 87%; */
 }

.bloc-logo {
height: 114px;
float: right;
  position: relative;
    box-shadow: 5px 5px 5px rgb(180, 180, 180);
}

.bloc-logo canvas,
.bloc-logo .logo-mask {
display: block;
width: 1422px;
height: 114px;

}
.logo-mask{
  box-shadow: none;
}
.bloc-logo .logo-mask {
position: absolute;
top: 0;
left: 0;
background-size: 830px;
background-image: url("./title.png");
text-indent: -9999px;
  width: 616px;
}
/* input format  */
/* .inputbox{
 width: 550px;
} */
#input {
  border: none;
  width: 470px;
  border-bottom: 2px solid rgb(180, 180, 180);
font-family: ff-providence-sans-web-pro,sans-serif;
font-weight: 700;
font-style: normal;
  font-size: 35px;
  padding: 4px 7px;
  margin-top: 26.5%;
  transition: width 0.4s ease-in-out;
  color: rgb(97, 100, 131);
}
::placeholder { 
  color:  rgb(180, 180, 180);;
  opacity: 1; /* Firefox */
}

#input:focus {
width:530px;
}


/* img format */
#imgbox{
 overflow: scroll;
}
.icon{
  width: 130px;
  height: 130px;
  margin-right:5px ;
}
/* Ul format */
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: ff-providence-sans-web-pro,sans-serif;
font-weight: 400;
font-style: normal;
  font-size: 20px;
}

li{
  display: none;
}
#myUL li div {
  border: 0px solid rgb(180, 180, 180);
  border-radius: 10px; 
  margin-top: 6.5px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 21px;
  color: rgb(155, 129, 129);
  display: block;
  cursor: pointer;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
#enter{
font-family: ff-providence-sans-web-pro,sans-serif;
font-weight: 400;
font-style: italic;
font-size: 24px;
color: rgb(180, 180, 180);
display: block;
}
/* result */
#result{
overflow: scroll;
margin-right:9px;
float: right;
 font-family: 'Bagnard';
  text-transform: uppercase;
font-weight: 400;
font-style: normal;
font-size: 53.5px;
color: rgb(180, 180, 180);
margin-top: 116px;
/* display: flex; */
} 
#resulttext{
  color: #fafaff;
  opacity: 95%;
  text-shadow: 5px 5px 6px  rgb(91 111 117);
  width: auto;
  margin: 0;
  /* background: -webkit-linear-gradient(#f17777, #7ea0c4); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  position: fixed;
  margin-top: -92px;
  right: 34px;
}
/* img */
.eachbox{
display: flex;
padding-top: 8.1px;
}
.price{
padding-top:37px;
font-size: 54.5px;
}
#leftbox{
  position: fixed;
}
@media screen and (max-width: 375px) {
#myUL {
  font-size: 15px;
}
#myUL li div {
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
}
#input {
  border: none;
  width: 341px;
  border-bottom: 2px solid rgb(180, 180, 180);
font-family: ff-providence-sans-web-pro,sans-serif;
font-weight: 700;
font-style: normal;
  font-size: 27px;
  padding: 4px 7px;
  margin-top: 36.5%;
  transition: width 0.4s ease-in-out;
  color: rgb(97, 100, 131);
}

#input:focus {
width:341px;
}

#result{
font-size: 37.5px;
margin-top: 114px;
} 
#resulttext{
  color: #fafaff;
  opacity: 95%;
  text-shadow: 5px 5px 6px  rgb(91 111 117);
  width: auto;
  margin: 0;
  /* background: -webkit-linear-gradient(#f17777, #7ea0c4); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  position: fixed;
  margin-top: -111px;
  right: none;
  left: 38px;
}
 #boxforbar{
   right: 0px;
 }

 .eachbox{
padding-top: 8.1px;
}
.price{
padding-top:42px;
font-size: 26.5px;
}
.icon {
width: 95px;
height: 95px;
margin-right: 5px;
}
#imgbox{
padding-top: 62px;
}
#enter{
font-size: 20px;
color: rgb(180, 180, 180);
display: block;
}
}
