h1, h2, p{
font-family: 'Courier New', Courier, monospace;
}
p, h1, h2{
    text-align: center;
}
video{
    text-align: center;
}
.box, video{
margin:0 auto;
width: 320px;
height:180px;

}
.text{
    width: 1000px;
    margin: 0 auto;
}
.next{
    width: 10px;
    margin: 20px auto;
}
a{
    text-decoration: none;
        cursor: grab;
        width:1000px;
}
img{
    width: 300px;
  
   padding-top: 20px;
   margin: 0 auto;
}