
@import url("https://use.typekit.net/uzl0cof.css");
/* general */
.arrowbox{
    width: 80px;
    margin:0px auto;
}
a{
text-decoration: none;
}
.textbox{
width: 67%;
height: 430px;
margin: 28px auto;
}
.maincontent{
font-family: IvyPresto Text;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 32px;
text-align: justify;
color: #949494;
text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
margin:0;
}
/* homepage */
#home{
    background-color: #DDDDDD;
}
.arrow{
Font-family: BC Alphapipe;
font-style: semibold;
Font-size: 80px;
Line-height: 144px;
Text-Align: Center;
-moz-transition: color, 0.8s;
-o-transition: color, 0.8s;
-webkit-transition: color, 0.8s;
transition: color, 0.9s;
color:#C3C3C3;
text-shadow: 1px 1px rgb(202, 202, 202), -1px -1px rgb(119, 119, 119);
}
.arrow:hover{
    -moz-transition: color, 0.8s;
	-o-transition: color, 0.8s;
	-webkit-transition: color, 0.8s;
    transition: color, 0.9s;
    color:#727272;
    text-shadow: none;

}
/* box */
.wrapper {
    perspective: 500px;
    margin: 65px auto 0;
    width: 200px;
    height: 200px;
}

.box {
    position: relative;
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    animation: move 8s linear infinite;
}

div[class^="item"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}
.item1 {
    transform: translateZ(100px);
    background-color: rgba(238, 238, 238, 0.6);
}
.item2 {
    transform: translateZ(-100px);
    background-color:rgba(77, 77, 77, 0.6) ;
}

.item3 {
    transform: rotateX(90deg) translateZ(100px);
    background-color: rgba(129, 129, 129, 0.6);
}

.item4 {
    transform: rotateX(90deg) translateZ(-100px);
    background-color:rgba(161, 161, 161, 0.6) ;
}

.item5 {
    transform: rotateY(90deg) translateZ(-100px);
    background-color: rgba(37, 37, 37, 0.6);
}
.item6 {
    transform: rotateY(90deg) translateZ(100px);
    background-color: rgba(0, 0, 0, 0.6);
}
@keyframes move {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
.title{
font-family: BC Alphapipe;
font-style: normal;
font-weight: 400;
font-size: 85px;
line-height: 108px;
text-align: center;
text-transform: uppercase;
color: #C4C4C4;
text-shadow: 1px 1px rgb(230, 230, 230), -1px -1px rgb(95, 95, 95);
width: 531px;
height: 216px;
}
.highlight{
color:#C4C4C4;
    -moz-transition: color, 0.8s;
-o-transition: color, 0.8s;
-webkit-transition: color, 0.8s;
transition: color, 0.9s;
}
.highlight:hover, .highlight:focus {
	-moz-transition: color, 0.8s;
	-o-transition: color, 0.8s;
	-webkit-transition: color, 0.8s;
    transition: color, 0.9s;
    color:#FFE921
}
.container{
    width: 531px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

}
.caption{
color: #fff;
font-weight: 300;
font-family: BC Alphapipe;
font-size: 50px;
font-style: normal;
line-height: 62px;
letter-spacing: 0em;
text-align: center;
margin: 3px auto;
text-shadow: 0px 4px 4px rgb(160, 160, 160);
-moz-transition: color, 0.8s;
-o-transition: color, 0.8s;
-webkit-transition: color, 0.8s;
transition: color, 0.9s;
}
.caption:hover{
text-shadow: none;
-moz-transition: color, 0.8s;
-o-transition: color, 0.8s;
-webkit-transition: color, 0.8s;
transition: color, 0.9s;
}
/* pt1 */
#pt1{
background-color:#EEEEEE;
perspective:900px;
overflow-y: auto;
    transition: opacity .3s;
}
#content1,.arrow1,.weight,.height{
transform: rotateY(75deg);
transition: 1.1s;
transform-style: preserve-3d;
}
.arrow1{
Font-family: BC Alphapipe;
font-style: semibold;
Font-size: 80px;
Line-height: 144px;
Text-Align: Center;
-moz-transition: color, 0.8s;
-o-transition: color, 0.8s;
-webkit-transition: color, 0.8s;
transition: color, 0.9s;
color:#727272;
text-shadow: 1px 1px rgb(202, 202, 202), -1px -1px rgb(119, 119, 119);
}
.weight{
font-family: BC Alphapipe;
font-style: normal;
font-weight: bold;
font-size: 160px;
line-height: 216px;
text-align: center;
color: #f0f0f0;
margin: 0 auto;
margin-top: 40px;
text-shadow: 0px 4px 4px rgba(53, 53, 53, 0.25);
-moz-transition: color, 0.8s;
-o-transition: color, 0.8s;
-webkit-transition: color, 0.8s;
transition: color, 0.9s;
}
.weight:hover{
color: #797979;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
-moz-transition: color, 0.8s;
-o-transition: color, 0.8s;
-webkit-transition: color, 0.8s;
transition: color, 0.9s;
}
.height{
font-family: BC Alphapipe;
font-style: normal;
font-weight: normal;
font-size: 150px;
line-height: 0px;
text-align: center;
color: #797979;
text-shadow: 1px 1px rgb(202, 202, 202), -1px -1px rgb(119, 119, 119);
}
.letter{
margin-top: 69px;
margin-bottom: 130px;
margin-left: auto;
margin-right: auto;
}
#first{
margin-top: 95px;
}
#last{
margin-bottom: 10px;
}
