body{
    background-color: rgb(54, 48, 48);
}
.wrapper{
  width: 1000px;
  margin: 0 auto;
}
h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
  color: white;
  text-indent: 10.2%;
  margin-top: 90px;
  font-weight: lighter;
}
.box{
    width: 870px;
    margin: 0 10%;
    padding:10px;

}
.animal{
  height: 100%;
  width: 100%;
object-fit: cover;

}
.plus, .question{
    font-size: 100px;
    display: inline;
      padding: 30px;
    }
.question{
  font-size: 110px;
}
#equal{
     color: white;
        font-size: 150px;
      float: left;
      padding-top: 0px;
         padding-right: 30px;
}
.imgbox{
    width: 560px;
    height: 315px;
    padding-top: 10px;
}
a{
text-decoration: none;
}
h1:hover, h1:focus{
  color: rgb(131, 0, 0);
  	-moz-transition: color, 0.5s;
	-o-transition: color, 0.5s;
	-webkit-transition: color, 0.5s;
    transition: color, 0.5s;
}
body:hover, body:focus{
background-color: rgb(26, 19, 19);
  	-moz-transition: color, 0.5s;
	-o-transition: color, 0.5s;
	-webkit-transition: color, 0.5s;
    transition: color, 0.5s;
    
}
iframe{
  float: left;
text-align: center;
border: medium none;
}
.video{
  padding: 10px,10px;
  margin: 0, auto;
  padding-top: 20px;
}
