body{
    background-color: black;
}

.animal{
  height: 100%;
  width: 100%;
object-fit: cover;
  margin: 0 2rem 1rem 0;
}
.plus{
    font-size: 100px;
}
.imgbox img{
    width: 200px;
    height: 200px;
}
