body
{
    background-color:#ebe8cf;
}

h2
{
    color:rgb(128, 62, 0);
    text-align:center;
    background-color:rgb(255, 215, 83);
}

p
{
    color:rgb(117, 97, 31);
    text-align:left;
    
}

h1
{
    color:rgb(155, 121, 57);
    text-align:center;
    background-color:#ffd261;
}