p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1 {
	font-size: 70px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}

#myimage{
	object-fit: contain;
	height: 100%;
	width:100%;
}

a {
	color: #e84545;
}
a:hover, a:focus {
	-moz-transition: color, 0.3s;
	-o-transition: color, 0.3s;
	-webkit-transition: color, 0.3s;
	transition: color, 0.3s;
}
body {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	color: #777c81;
	background: #010101;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.section {
	padding: 100px 0;
}


#header {
	position: fixed;
	width: 100%;
	z-index: 999;
	background: transparent;
	min-height: 72px;
}
#header .header-content {
	margin: auto auto;
	max-width: 85%;
	padding: 60px 0;
	width: 100%;
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
	position: relative;
}
#header .logo {
	float: left;
	font-size:24px;
	font-weight:700;
	color: #000;
	letter-spacing:7px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	text-align: center;
	padding: 0 15px;
	vertical-align: bottom;
}
#header .logo a{
	padding-top: 32%;
	display: inherit;
	color: #ffffff;
}
#header.fixed .header-content .logo a{
	padding-top: 15%;
	color: #ffffff;
	text-align: center;
}
#header.fixed {
	background-color: #010101;
	border-bottom: 1px solid #232323;
}
#header.fixed a {
	color: #c3c3c3;
}
#header.fixed .header-content {
	border-bottom: 0;
	padding: 25px 0;
}

.navigation {
	float: right;
}
.navigation li {
	display: inline-block;
}
.navigation a {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	margin-left: 30px;
	text-transform: uppercase;
}
.navigation a:hover {
	color: #cd003a !important;
}


.banner {
	min-height: 750px;
}
.banner-text {
	margin-top: 38%;
	color: #fff;
	float: left;
	padding: 25px;
	border-radius: 15px 0 15px;
	left: 0px;
}
.banner-text h1 {
	color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 53px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	margin-left: 2vw;
	margin-bottom: 2vw;
	margin-top: -9vw;
}
.banner-text p {
	color: #ffffff;
	font-size: 22px;
	font-weight: 600;
	line-height: 24px;
	margin-top: 15px;
	margin-bottom: 0;
	margin-left: 2vw;
	text-align: left;
}


.intro {
	background-color: #ffffff;
}
.intro h3 {
	color: #000000;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 35px;
	font-weight: bold;
}
.intro p {
	color: rgba(0, 0, 0, 0.58);
	font-weight: 400;
	font-size: 15px;
}
.fourimages ul{
	display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 40px;
    row-gap: 40px;
    padding: 14px 183px;
}
.fourimages li{
	height:20vw;
	width: 96%;
    background: #ffffff;
	box-sizing: border-box;
}

.section-header{	
text-align: center;	
padding-bottom: 30px;
padding-top: 60px;
}
.section-header h2{
color: #fff;
font-weight: bold;
margin-top: 50px;
margin-bottom: 20px;
font-style: italic;
}
.detail{
color: #fff;
margin-left: 5%;
}
.threeimages_horizontal ul{
	display: grid;
    grid-template-columns: repeat(1, 3fr);
    column-gap: 40px;
	row-gap: 40px;
	padding: 14px 190px;
}
.threeimages_horizontal li{
	height:40vw;
	width: 100%;
    background: #ffffff;
	box-sizing: border-box;
}

.twoimages ul{
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
	padding: 14px 50px;
	margin-left: auto;
}
.twoimages li{
	height:27vw;
	width: 100%;
    background: #ffffff;
	box-sizing: border-box;
}  

.oneimage ul{
	display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 40px;
    row-gap: 40px;
	padding: 14px 205px;
	margin-left: auto;
}
.oneimage li{
	height:40vw;
	width: 100%;
    background: #ffffff;
	box-sizing: border-box;
}   

.siximages ul{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
	padding: 30px 30px;
	margin-left: auto;
}
.siximages li{
	height:17vw;
	width: 100%;
    background: #ffffff;
	box-sizing: border-box;
}   

/* Mobile-Ipad */
@media (max-width: 830px) {
    .logo{  
	display: none;
}
    .navigation{
		float: left;
	}.header-content {
	max-width: 80%;
	}
.fourimages ul{
	display: grid;
    grid-template-columns: repeat(1, 4fr);
    column-gap: 10px;
    padding: 14px 100px;
}
.fourimages li{
	height:45vw;
	width:100%;
}
.threeimages_horizontal ul{
	padding: 14px 100px;
}
.twoimages ul{
    grid-template-columns: repeat(1, 2fr);
	padding: 14px 100px;
}
.twoimages li{
	height:45vw;
	width: 100%;
    background: #ffffff;
	box-sizing: border-box;
}  

.oneimage ul{
	display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 40px;
    row-gap: 40px;
	padding: 14px 100px;
	margin-left: auto;
}
.oneimage li{
	height:42vw;
}   


.siximages ul{
	display: grid;
    grid-template-columns: repeat(2, 3fr);
    column-gap: 30px;
    row-gap: 30px;
	padding: 30px 30px;
	margin-left: auto;
}
.siximages li{
	height:25vw;
}   
}
