body {
    margin: 0;
    background-color:#cfcfcf;
}
h1{
 font-size: 1.5vw;
 text-align: center;
}

nav {
    width: 100%;
    height: 65px;
    background: #adadad;
    padding: 14px 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    position: fixed;
   
}   
#logo {
    height: 100%;
    width: 12%;
    background: #C9A8A8;
    margin: 0;
}
#search-bar {
    width: 58%;
    height: 100%;
    background: #C9A8A8;
}
#shop {
    width: 3%;
    height: 100%;
    background: #C9A8A8;
}

#sign-in {
    width: 10%;
    height: 100%;
    background: #C9A8A8;
}
#sign-up {
    width: 10%;
    height: 100%;
    background: #C9A8A8;
}
main {
    display: flex; 
}
#navv{
    position: fixed;
}
#nav1{
    width:100%;
    background: #C1C1C1;
    height: 65px;
    justify-content: space-around;
    margin-top: 65px;
}

#nav1 ul {
    list-style: none;
    margin: 0;
    height: 100%;
}
#nav1 li {
    height:38px;
    background: #A8ADC9;
    box-sizing: border-box;
  
}

#nav1 ul {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    padding: 14px 14px;
    position:flex;
}
#playbotton{
    width:12%;
    height:47px;
    background: #C5BDB1;
    margin-top: 17px;
    margin-left:2vw;
margin-right:auto;
position:flex;
}
header{
    width: 50%;
    height:85px;
    background:#C5BDB1;
    margin-top: 150px;
    margin-left:2vw;
margin-right:auto;
}
#subline{
    width: 11%;
    height:26px;
    background:#D2CAAE;
    margin-left:2vw;
margin-right:auto;
margin-top: 26px;
}
    #bar ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-left: 2vw;
        margin-right: auto;
        margin-top: 180px;
        width: 50%;
        padding: 0;
        column-gap: 10px;
}
#bar li {
    height: 50px;
    background:#D2CAAE;
}

#video{
    width:100%;
    justify-content: space-around;
    margin-top: 84px;
}
#video ul {
    margin-left:auto;
    margin-right:auto;
    padding: 0;
}
#video ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 4fr);
    column-gap: 55px;
    row-gap: 45px;
    padding: 20px 40px;
    position:flex;
}
#video li {
    height: 194px;
    background:  #A8ADC9;
}




/* Tablet */
@media (max-width: 1024px) {
}
/* Mobile */
@media (max-width: 680px) {
    #logo{  margin-left: auto;
    margin-right: auto;
    width: 20%;
}
    #sign-up{
        display: none;
    }
    #shop{
        display:none;
    }
    #search-bar{
        display: none;
    }
    #nav1{
    display: none;
    }
    header{
        margin-top: 100px;
        width: 74%;
    }
    #subline{
        margin-top: 28px;
        width:20%;
    }
    #playbotton{
        width:23%;

    }
    #bar ul {
        width: 98%;
    }
    #video ul {
        display: grid;
        list-style: none;
        grid-template-columns: repeat(2, 8fr);
        column-gap: 30px;
        row-gap: 40px;
        padding: 20px 30px;
        position:flex;
    }
    #bar ul {
        grid-template-columns: repeat(2, 3fr);
        margin-left: auto;
        width: 98%;
        padding: 0;
        column-gap: 10px;
        row-gap: 10px;
}

}

