body {
    margin: 0;
    background-color:#D6D4D4;
}

nav {
    width: 100%;
    height: 65px;
    background: #adadad;
    padding: 14px 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    position: fixed;
   
}   
#logo {
    height: 100%;
    width: 183px;
    background: #C9A8A8;
    margin: 0;
}
#search-bar {
    width: 809px;
    height: 100%;
    background: #C9A8A8;
}
#shop {
    width: 49px;
    height: 100%;
    background: #C9A8A8;
}

#sign-in {
    width: 140px;
    height: 100%;
    background: #C9A8A8;
}
#sign-up {
    width: 140px;
    height: 100%;
    background: #C9A8A8;
}
main {
    display: flex; 
}
#navv{
    position: fixed;
}
#nav1{
    width:100%;
    background: #C1C1C1;
    height: 65px;
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
}

#nav1 ul {
    list-style: none;
    margin: 0;
    height: 100%;
}
#nav1 li {
    width: 107px;
    height:38px;
    background: #A8ADC9;
    box-sizing: border-box;
  
}

#nav1 ul {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    padding: 14px 14px;
}
#video{
    width:609px;
    height:321px;
    background: #C5BDB1;
    align-items: center;
    margin-top: 26px;
    margin-left:auto;
margin-right:auto;
}
header{
    width: 1222px;
    height:85px;
    background:#C5BDB1;
    margin-top: 50px;
    margin-left:auto;
margin-right:auto;
}
#subline{
    width: 609px;
    height:26px;
    background:#D2CAAE;
    margin-left:auto;
margin-right:auto;
margin-top: 26px;
}
#bar ul{
   list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left:385px;
margin-right:420px;
margin-top: 35px;
}
#bar li {
    height: 50px;
    width: 107px;
    background:#D2CAAE;
    margin-left:auto;
margin-right:auto;
}

#box1{
    width: 680px;
    height:65px;  
    background:#D2CAAE;
    margin-left:43px;
    margin-top: 130px;
    float: left;
}
#box2{
    width: 680px;
    height:65px;  
    background:#C5BDB1;
    margin-left:43px;
    margin-top: 23px;
    float: left;
}
#box3{
    width: 680px;
    height:330px;  
    background:#C5BDB1;
    margin-left:43px;
    margin-top: 23px;
    margin-bottom:100px;
    float: left;
}
#box4{
    width: 553px;
    height:560px;  
    background:#C5BDB1;
    margin-left:60px;
    margin-top: 91px;
    margin-bottom:100px;
    margin-right:50px;
    float: right;
}

