@import url("https://use.typekit.net/aab0yxu.css");
/* home */
#home{
    background-color: white;
    width: 50px;
    height: 40px;
    top:754px ;
    position: absolute;
    line-height: 40px;
    font-size: 15px;
    color: #788263;
    font-weight: 600;
    border: 3px solid #788263 ;
    cursor: pointer;
}
body{
font-family: semplicitapro, sans-serif;
font-weight: 400;
font-size: 22px;
}
.largebox{
display: inline;
}
#headbox{
margin-top: 215px;
}
.leftbox{
width: 50%;
float: left;
}
.textwrapper{
margin: 0 auto;
}
.heading{
font-family: bc-alphapipe,sans-serif;
font-weight: 400;
font-size: 80px;
color: #788263;
font-style: normal;
text-align: center;
text-shadow: 0px 4px 4px rgba(85, 85, 85, 0.25);
}
.rightbox{
display: inline;
float: right;
width: 47%;
}
#contentbox{

margin-top: 65px;
}
.content{
list-style: none;
font-family: semplicitapro, sans-serif;
font-weight: 400;
font-size: 40px;
font-style: normal;
margin: 0 auto;
width: 100%;
}
.pt1{
    color: #EEEEEE;
}
.pt2{
    color: #DEDEDE;
}
.pt3{
    color: #CCCCCC;
}
.pt4{
    color: #B7B7B7;
}
.pt5{
    color: #989898;
}
.pt6{
    color: #727272;
}
.pt7{
    color: #393939;
}
a{
    text-decoration: none;
}
.content a:hover{
text-decoration: underline;
color:#788263;
}
/* pt1 */
#pt1{
    background-color: #E5E5E5;
}
#box1pt1{
width: 48%;
margin-top: 25px;
}
.paragraph{
list-style: none;
font-family: semplicitapro, sans-serif;
font-weight: 400;
font-size: 22px;
font-style: normal;
color: #797979;
}
#textpt1{
margin-left:2% ;
}
.pt1click{
    color: #E5E5E5;
    font-weight: 600;
    cursor: pointer;
}
.pt1click:hover{
    color: #788263;
    text-decoration: underline dotted;
}
#pt1p2, #pt1p3{
    display: none;
}
.pt1click:active{
    color: #788263;
}
#pt1click3:hover{
    text-decoration: underline;
}
#pt1click4{
    color: #E5E5E5;
    opacity: 0;
}
#pt1click4:hover{
    opacity: 100;
    text-decoration: underline dotted;
}
#box2pt1{
margin-top: 189px;
width: 43%;
}
#pt1p4{
    text-align:right;
    color: #E5E5E5;
}
#text1pt1{
margin-right:5% ;
}
.pt1largeword{
font-family: semplicitapro, sans-serif;
font-weight: 600;
font-style: italic;
font-size: 41pt;
color: #E5E5E5;
}
#weight{
font-weight: 700;
text-align: right;
}
#height{
text-align: left;
font-weight: 500;
}
#surface{
text-align: right;
color: #E5E5E5;
}
#surface:hover{
text-decoration: underline dotted;
cursor: pointer;
}
#box2apt1{
    width: 100%;
    
}
#eaves{
    text-align: right;
    margin-right:2%;
    color: #E5E5E5;
    text-decoration: none;
}
#pt1next{
    color: #E5E5E5;
}
#pt1next:hover{
    text-decoration: underline;
}
#bigwords, #box2apt1{
    display: none;
}

/* pt2 */
#pt2{
background-color: #DEDEDE;
}
.pt2wrapper{
    text-align: center;
    color:#797979;
}
.pt2display{
width: 26%;
margin: 0 auto;
}
#pt2show:hover{
font-weight:800;
cursor: pointer;
text-decoration: underline dashed;
}
#pt2showbox{
margin: 0 auto;
display: none;
}
.pt2p2{
width: 46%;
margin: 0 auto;
}
.pt2p3{
width: 66%;
margin: 0 auto;
}
.pt2p4{
width: 86%;
margin: 0 auto;
}
#next2{
color: #797979;
font-weight: bold;
}
#next2:hover{
text-decoration: underline;
font-style: italic;
}
/* pt3 */
#pt3{
background-color: #cccccc;
}
.pt3box{
width: 80%;
margin: 0 auto;
padding-top: 20px;
color:#393939;
text-align: center;
}
#black{
margin-right: auto;
font-weight: 700;
opacity:0;
width: 80%;
}
#black1{
margin-right: auto;
font-weight: 700;
opacity:0;
width: 80%;
}
#heavy{
    font-weight: 700;
    color:black;
    cursor: pointer;
}
#white{
margin-left: auto;
font-weight: 500;
color: white;
width: 80%;
opacity:0;

}
#light{
    font-weight: 500;
    color:white;
    cursor: pointer;
}
#pt3next:hover{
text-decoration: underline;
    cursor: pointer;
}
/* pt4 */
#pt4{
    background-color: #B7B7B7;
}
#pt4first{
    font-size: 29px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    color: #585858;
}
#showscroll{
    color:#AE4747;
    cursor: pointer;
    
}
#scroll{
    color: #585858;
    width: 40%;
    text-align: justify;
    margin: 0 auto;
    opacity: 0;
}
#pt4next{
color: #AE4747;
}
#pt4next:hover{
color: #8A1900;
font-weight: 600;
text-decoration: underline;
}

/* /pt5 */
#pt5{
    background-color: #989898;
}
#pt5first{
    text-align: left;
    margin-right: auto;
}
.pt5box{
    position: fixed;
    cursor: pointer;
}
#pt5smallcontainer{
    display: block;
    margin-left: 25%;
}
.pt5right{
    width: 95%;
    display: block;
    color: gray;
}
.pt5click{
    font-size: 26px;
    color: gray;
    font-weight: 600;
}
#pt5next{
    color: gray;
     font-weight: 700;

}
#pt5next:hover{
font-weight: 600;
color: #8A1900;
text-decoration: underline;
}
/* pt6 */
#pt6{
    background-color: white;
}
#pt6first{
    color:#FFE921;
    font-size: 55px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
#pt6first:hover{
text-decoration: underline dashed;
}
#pt6container{
    color: white;
    width: 60%;
line-height:33px ;
    text-align: justify;
      margin: 0 auto;
}