#nametag-container {
    width: 753px;
    height: 468px;
    background: #F2DAFB;
    margin: 50px auto 0;
    border: 30px #1A5974 solid;
    transition: all .5s ease-in-out;

    box-sizing: border-box;
    cursor: pointer;
}


#nametag-container {
    border-right:120px solid #1A5974
}
h1{
    font-family: Impact;
    font-size: 90px;
    line-height: 2px;
    color: #1A5974;
    margin-block-start: 43px;
    margin-block-end: auto;
    transition: all .5s ease-in;
}
.line{
    width: 580px;
    margin-top:42px;
    transition: all .5s ease-in;
    border-bottom: 4px solid #1A5974;
    position:absolute; right:483px; top:130px
    
}
h2,h3,h4
{
    font-family: Impact;
    font-size: 90px;
    line-height: 2px;
    color: #1A5974;
    opacity: 0.5; 
    transition: all .5s ease-in;
}
h2{
    margin-block-start: 108px;
    margin-block-end: 40px;  
}
h3{
    margin-block-start: 106px;
    margin-block-end: 40px;
}
h4{
    margin-block-start: 101px;
    margin-block-end: 40px;
    
}
h5{
    font-family: Impact;
    color: #1A5974;
    opacity: 0.7;  
    font-size: 42px;
    transition: all .5s ease-in;
    position:absolute; right:473px; top:363px
}
.circle span{
    width: 58px;
    height: 58px;
    display: inline-block;
    border-radius: 100%;
    transition: all .5s ease-in;
}
.circle span{
    background-color: #F2DAFB;
    transition-delay: .25s;
    position:absolute;; right:376px; top:82px}

    #nametag-container:hover {
        background-color: #ffeede;
        border-color: #8a8546d5;
        transition: all .5s ease-in;
    }
    
    #nametag-container:hover .circle span {
        opacity: .5;
        transform: translateY(344px);
    }
    #nametag-container:hover h1 {
        color: #7c2929;
    }
    #nametag-container:hover h2{
        color: #7c2929;  
    }
    #nametag-container:hover h3{
        color: #7c2929;  
    }
    #nametag-container:hover h4{
        color: #7c2929;  }
    
        #nametag-container:hover h5{
            color: #7c2929;  }
    
    #nametag-container:hover .line{
        border-bottom: 4px solid #7c2929;
    }
    